@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test</h1>
    
    <p>SAP 40553</p> 
 
    <p>Check out my <a href="https://www.linkedin.com/in/mytsum-ali/">Linkedin</a> profile.</p>

    <h2>Welcome to the @Context.Items["Environment"] environment!</h2>
</div>
