@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Dev</h1>
    
    <p>SAP 40553</p> 

    <h1>Welcome to my app in the @_env.EnvironmentName environment!</h1>
 
    <p>Check out my <a href="https://www.linkedin.com/in/mytsum-ali/">Linkedin</a> profile.</p>

</div>
