@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Dev</h1>
    
    <p>SAP 40553</p>

    <p>@Model.indexUI Environment</p>

    <p>Added by Beenish on @DateTime.Now. Sap 35986</p>
    
    <p>My Environment is @Model.env_index</p>


    <p>Check out my <a href="https://www.linkedin.com/in/mytsum-ali/">Linkedin</a> profile.</p>

</div>
